<div class="footer-pd-hold __web-inspector-hide-shortcut__" style="background-color: #4abc98;">
    <div class="container footer-pd-res-mob footer_section" style="padding: 15px 0px 40px 0px;">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="row">
    <div class="col-lg-5 col-xs-3 col-md-4 col-sm-12">
    <div class="resp-text-hold">
    <h3 class="footer-section2-inner-nav-links font_size_20" style="text-transform: none; padding: 0px; font-size: 20px; font-weight: bold !important; font-stretch: normal; font-style: normal; line-height: 4; letter-spacing: normal; color: #ffffff;">Yum Group of Restaurants</h3>
    <ul class="logos-holds" style="display: flex;">
    <li class="padding_bottom_10 nav list-decor" style="margin-right: 30px;"><a><img class="lazy" data-src="https://static.tossdown.com/images/4671f5c0-8ea2-4120-8ddf-fe548daa923e.webp" style="width: 115px;" height="110" src="https://static.tossdown.com/images/4671f5c0-8ea2-4120-8ddf-fe548daa923e.webp"></a></li>
    <li class="padding_bottom_10 nav list-decor" style="margin-right: 30px;"><a><img class="lazy" data-src="https://static.tossdown.com/site/e9783020-0427-4c9f-aded-f289762e74a8.svg" style="width: 110px;" height="110" src="https://static.tossdown.com/site/e9783020-0427-4c9f-aded-f289762e74a8.svg"> </a></li>
    <li class="padding_bottom_10 nav list-decor"><a><img class="lazy" data-src="https://static.tossdown.com/images/f9027d84-dc0f-4492-9041-8cc893517b96.webp" style="width: 126px;" height="126" src="https://static.tossdown.com/images/f9027d84-dc0f-4492-9041-8cc893517b96.webp"> </a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2 col-xs-3 col-md-4 col-sm-12">
    <div class="resp-text-hold">
    <div class="module clearfix">
    <h3 class="accordion modtitle footer-section2-inner-nav-links font_size_20" style="text-transform: none; padding: 0px; font-size: 20px; font-weight: bold !important; font-stretch: normal; font-style: normal; line-height: 4; letter-spacing: normal; color: #ffffff;">Chashni</h3>
    <div class="modcontent  panel" style="padding: 0px;">
    <ul class="menu">
    <li class="padding_bottom_10 nav list-decor"><a href="../faq" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">FAQ's</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="/custom-packaging" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Packaging</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="../pakistani-jalebi" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Pakistani Jalebi</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="../policies-guidelines" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Policies Guidelines</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="../about-us" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">About Us</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="/the-history-and-evolution-of-sweets" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">History of Sweets</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 col-xs-3 col-md-4 col-sm-12">
    <div class="resp-text-hold">
    <div class="module clearfix">
    <h3 class="accordion modtitle footer-section2-inner-nav-links font_size_20" style="text-transform: none; padding: 0px; font-size: 20px; font-weight: bold !important; font-stretch: normal; font-style: normal; line-height: 4; letter-spacing: normal; color: #ffffff;">Contact</h3>
    <div class="modcontent  panel" style="padding: 0px;">
    <ul class="menu">
    <li class="padding_bottom_10 nav list-decor"><a href="tel: &lrm;+92 300 0195560" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;"> &lrm;+92 300 0195560</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="mailto:Info@chashni.pk" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Info@chashni.pk</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="/contact-us" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Contact Us</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="/locations" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Locations</a></li>
    <li class="padding_bottom_10 nav list-decor"><a href="/feedback" class="" style="font-size: 15px; margin: 24px 12px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Feedback</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-xs-3 col-md-4 col-sm-12">
    <div class="resp-text-hold">
    <h3 class="footer-section2-inner-nav-links font_size_20" style="text-transform: none; padding: 0px; font-size: 20px; font-weight: bold !important; font-stretch: normal; font-style: normal; line-height: 4; letter-spacing: normal; color: #ffffff;">Opening Hours</h3>
    <ul>
    <li class="padding_bottom_10 nav list-decor"><a href="#" class="" style="font-size: 15px; margin: 24px 0px 24px 0; opacity: 0.8; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.17; letter-spacing: normal; text-align: left; color: #ffffff;">Open everyday 9:00AM to 11:00 PM</a></li>
    </ul>
    </div>
    <div class="resp-text-hold">
    <h3 class="footer-section2-inner-nav-links font_size_20" style="text-transform: none; padding: 0px; font-size: 20px; font-weight: bold !important; font-stretch: normal; font-style: normal; line-height: 4; letter-spacing: normal; color: #ffffff;">Follow Us</h3>
    <ul class="social-feeds" style="display: block; text-align: left;">
    <li style="display: block; margin-right: 18px; margin-bottom: 13px;"><a style="color: #ffffff !important; font-weight: bold; padding: 0px 5px; padding-top: 9px;" target="_blank" href="https://www.facebook.com/chashnipk" rel="noopener"><i class="fab fa-facebook-f" style="font-size: 17px;"></i></a><span style="margin-left: 12px; font-size: 15px;"><a target="_blank" href="https://www.facebook.com/chashnipk" rel="noopener" style="font-size: 15px; color: #fff;">Facebook</a></span></li>
    <li style="display: block;"><a style="color: #ffffff !important; font-weight: bold; padding: 0px 0px; padding-top: 11px;" target="_blank" href="https://www.instagram.com/chashnisweets/?hl=en" rel="noopener"><i class="fab fa-instagram" style="font-size: 20px;"></i></a><span style="margin-left: 15px; font-size: 18px;"><a target="_blank" href="https://www.instagram.com/chashnisweets/?hl=en" rel="noopener" style="font-size: 15px; color: #fff;">Instagram</a></span></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
