{% extends 'template.html' %}
{% load static %}

{% block content %}


<!-- section 1 -->
<a href="https://static.tossdown.com/site/42e02eb6-df35-49f5-b1af-7e1eb0ab57d8.webp">
    <figure><img src="https://static.tossdown.com/site/42e02eb6-df35-49f5-b1af-7e1eb0ab57d8.webp" alt="banner-1" class="figure-img w-100 cover"></figure>
</a>
<section class="section2">
    <div class="main-div">
        <div class="section-div">
            <p class="textt-center">Chashni's Mithai is crafted as an art, making it rich with flavours, culture,
             tradition and heritage.</p>
            <h1>Mithai</h1>
            <div class="mx-5">
                <ul class="nav d-flex">
                    <li class="nav-item list-items active">
                        <a href="#" class="nav-link" id="gifting">Gifting</a>
                    </li>
                    <li class="nav-item list-items ">
                        <a href="#" class="nav-link" id="sweet">Assorted sweet box</a>
                    </li>
                    <li class="nav-item list-items ">
                        <a href="#" class="nav-link" id="baklawas">Baklawas</a>
                    </li>
                    <li class="nav-item list-items ">
                        <a href="#" class="nav-link" id="standard">Standard Sweets</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container d-flex" id="gift_div">
        <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
    </div>
    <div class="container d-flex " id="sweet_div">
        <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
    </div>
    <div class="container d-flex " id="baklawas_div">
      <div class="card ms-5" style="width: 20rem;">
          <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
          <div class="card-body">
            <h5 class="card-title">Premium Eid Gift Basket
              <span class="section-span">(1kg)</span>
            </h5>
            <p class="card-text">PKR 5245</p>
            <a href="#" class="btn section-btn">Add to Cart</a>
          </div>
        </div>  
        <div class="card ms-5" style="width: 20rem;">
          <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
          <div class="card-body">
            <h5 class="card-title">Premium Eid Gift Basket
              <span class="section-span">(1kg)</span>
            </h5>
            <p class="card-text">PKR 5245</p>
            <a href="#" class="btn section-btn">Add to Cart</a>
          </div>
        </div>  
        <div class="card ms-5" style="width: 20rem;">
          <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
          <div class="card-body">
            <h5 class="card-title">Premium Eid Gift Basket
              <span class="section-span">(1kg)</span>
            </h5>
            <p class="card-text">PKR 5245</p>
            <a href="#" class="btn section-btn">Add to Cart</a>
          </div>
        </div>  
    </div>
    <div class="container d-flex " id="standard_div">
    <div class="card ms-5" style="width: 20rem;">
        <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
        <div class="card-body">
          <h5 class="card-title">Premium Eid Gift Basket
            <span class="section-span">(1kg)</span>
          </h5>
          <p class="card-text">PKR 5245</p>
          <a href="#" class="btn section-btn">Add to Cart</a>
        </div>
      </div>  
      <div class="card ms-5" style="width: 20rem;">
        <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
        <div class="card-body">
          <h5 class="card-title">Premium Eid Gift Basket
            <span class="section-span">(1kg)</span>
          </h5>
          <p class="card-text">PKR 5245</p>
          <a href="#" class="btn section-btn">Add to Cart</a>
        </div>
      </div>  
      <div class="card ms-5" style="width: 20rem;">
        <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
        <div class="card-body">
          <h5 class="card-title">Premium Eid Gift Basket
            <span class="section-span">(1kg)</span>
          </h5>
          <p class="card-text">PKR 5245</p>
          <a href="#" class="btn section-btn">Add to Cart</a>
        </div>
      </div>  
    </div>
</section>
<br>
<section class="section2 ">
    <div class="container d-flex">
        <div class="col-md-5 m-3">
            <img class="lazy" data-src="https://tossdown.site/images/ba4cd409e6b67d3abe3125484a339fe9_1630322073.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;" width="635" height="400px" src="https://tossdown.site/images/ba4cd409e6b67d3abe3125484a339fe9_1630322073.jpg">
        </div>
        <div class="col-md-7 m-3">
            <img class="lazy" data-src="https://tossdown.site/images/7dcd3d1e02aedab670c1b746122cb627_1631011872.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;" width="475" height="400px" src="https://tossdown.site/images/7dcd3d1e02aedab670c1b746122cb627_1631011872.jpg">
        </div>
    </div>
    <div class=" container d-flex">
        <div class="col-md-4 m-3">
            <img class="lazy" data-src="https://tossdown.site/images/c45da3b648aafbf986199d763771393e_1630323089.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;" width="350" height="400px" src="https://tossdown.site/images/c45da3b648aafbf986199d763771393e_1630323089.jpg">
        </div>
        <div class="col-md-8 m-3">
            <img class="lazy" data-src="https://tossdown.site/images/6c9ae76ca5c1757d0d3581031b4f18e7_1630322993.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;" width="745" height="400px" src="https://tossdown.site/images/6c9ae76ca5c1757d0d3581031b4f18e7_1630322993.jpg">
        </div>
        
    </div>
    <h1 class="text">Our Cakes</h1>
    <div class="container d-flex ">
        <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR {{ product.price }}</p>
              <a href="{% url 'cart' %}" class="btn section-btn">Add to Cart</a>
            </div>
          </div> 
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
          <div class="card ms-5" style="width: 20rem;">
            <a href=""><img style=" object-fit: cover;height: 235; " class="lazy card-img-top " data-src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" src="https://static.tossdown.com/images/235/a751717a-0f01-4d1c-93aa-cabe8b89f13a.webp" data-index="229154" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">Premium Eid Gift Basket
                <span class="section-span">(1kg)</span>
              </h5>
              <p class="card-text">PKR 5245</p>
              <a href="#" class="btn section-btn">Add to Cart</a>
            </div>
          </div>  
    </div>
    <div class="view-div pb-4">
        <a href="{% url 'shop' %}" class="btn view_button section-btn">View More</a>

    </div>
    
</section>


{% endblock %}
