{% extends 'template.html' %}
{% load static %}

{% block content %}

    <main>
        <div class=" container  d-flex justify-content-between mt-5">           
                <div class=" me-4 mt-4">
                        <div class="col-lg-3 col-md-12 col-sm-12 filter-results-mobile-responsive all-filters-show-hide-result  margin_top_30 ">
                            <form action="" method="GET" name="filters-form" id="filters-form">
                                <input type="hidden" id="price_range_filter_on_off" value="0">
                                
                                <div class="filter-bg-full ">
                                
                                        <div class="" style="padding-bottom: 5px;">
                                            <h3 class="menu-category">Categories</h3>
                                        </div>
                                    
                                        <div class="filter-count-menu-scroll">
                                            <ul class="ul-filter">
                                               
                                                    <li class="li-filter li-div">
                                                            <input checked="" class="input-filter all-cate-filter" type="checkbox" name="cat_filter[]" id="" value="0">
                                                            <a href=" {% url 'shop' %}"><span class="span1-filter">All Categories</span>
                                                            <span class="span2-filter float-right font_size_12">(56)</span></a>
                                                    </li>
                                                   
                                                    
                                                        <li class="li-filter li-div ">
                                                            <input id="uncheck-15412" class="input-filter" type="checkbox" data-filter="category" name="cat_filter[]" value="15412">
                                                            <a href="{% url 'category' category.id %}"><span class="span1-filter">{{ category.name }}</span>
                                                            <span class="span2-filter float-right font_size_12">(11)</span></a>
                                                        </li>
                                                  
                                            </ul>
                                        </div>
                            </div>
                            </form>
                        
                        </div>
                </div>
                <div  class="container  pe-5">
                    <div class="d-flex flex-wrap ">
                        {% if products %}
                            {% for product in products %}
                                <div class="d-flex ">                   
                                    <div class="card mx-2 my-4 h-80" style="width: 14rem;">
                                        <a href="{% url 'product_detail' product.id %}"><img  class="lazy card-img-top " src="{{ product.image.url }}" data-index="229154" alt=""></a>
                                        <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}
                                            <span class="section-span">(1kg)</span>
                                        </h5>
                                        <p class="card-text">{{ product.price }}</p>
                                        <a href="{% url 'product_detail' product.id %}" class="btn section-btn">Add to Cart</a>
                                        </div>
                                    </div> 
                                </div> 
                            {% endfor %}
                        {% endif %}
                </div>
        </div>
    </main>

{% endblock %}