{% extends 'template.html' %}
{% load static %}

{% block content %}

 
<h1 class="text-center mt-5">Packaging</h1>
<h1 class="text-center my-5 ">A Great Source of
    <br>
    Customized Packaging</h1>

<div class="container">
    <p class="text-center">For all your celebratory needs, we offer festive boxes and customized boxes using quality materials. Wonderfully presented wedding favors bring elegance and style to any celebration. Customize with uniquely printed lace and labels, attaching a custom hang tag or wedding marks to your wedding favors is an awesome approach to customize your occasion, and convey a message of thanks and gratefulness to your visitors.</p>
    <p class="text-center">
        Chashni is a great source of customized packaging. Choose from a wide variety of boxes in all colors, shapes and size to make your newest arrival's Aqiqa celebration the most memorable one. You can choose from an assortment of ribbons and custom labels to complete the sweet treats' packaging for the event. Our boxes, decorative in design, are made to ensure the freshness and exquisite taste of our favorite treats.
    </p>
</div>
<div class="container d-flex my-5 pb-4">
    <div class="pack-card mx-2">
        <p class="pack">Gift Boxes</p>
    </div>
    <div class="pack-card mx-2">
        <p class="pack">Gift Boxes</p>
    </div>
    <div class="pack-card mx-2">
        <p class="pack">Gift Boxes</p>
    </div>
    <div class="pack-card mx-2">
        <p class="pack">Gift Boxes</p>
    </div>
</div>


{% endblock %}